body {
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xvY2t8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent background from repeating */
    background-size: cover; /* Ensure the background covers the entire viewport */
    background-attachment: fixed; /* Keep the background fixed during scrolling */
    margin: 0; /* Remove default margin */
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock {
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 100%, 0.1);
    width: 100%;
}